<!-- nav bar -->
<div class="navbar-fixed">
  <nav class="orange  accent-2" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo black-text" style="font-size: 1.8rem;">Ben's Web</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#aboutme"><i class="material-icons" style="color: black;">home</i><span class="black-text">About Me</span></a></li>
        <li><a href="#skills" style="color: black;"><i class="material-icons" style="color: black;">whatshot</i>Skills</a></li>
        <li><a href="#experience" style="color: black;"><i class="material-icons" style="color: black;">assignment_ind</i>Experience</a></li>
        <li><a href="#contact" style="color: black;"><i class="material-icons" style="color: black;">contacts</i>Contacts</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons"  style="color: white;">menu</i></a>
    </div>
  </nav>
</div>
<ul id="nav-mobile" class="side-nav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="assets/images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="assets/images/profile.jpg"></a>
      <a href="#!name"><span class="white-text name">Ben Kung</span></a>
      <a href="#!email"><span class="white-text email">moon791017@gmail.com</span></a>
    </div>
  </li>
  <li><a href="#aboutme"><i class="material-icons">home</i>About Me</a></li>
  <li><a href="#skills"><i class="material-icons">whatshot</i>Skills</a></li>
  <li><a href="#experience"><i class="material-icons">assignment_ind</i>Experience</a></li>
  <li><a href="#contact"><i class="material-icons">contacts</i>Contacts</a></li>
</ul>
