<!--index slider-->
<div class="section no-pad-bot no-pad-top" id="#">
  <div class="slider fullscreen">

    <ul class="slides parallax-container">
      <li>
        <img src="assets/images/2.jpeg">
        <div class="caption center-align">
          <h3 class="light black-text">HI</h3>
          <h1 class="black-text text-lighten-3">I'M Ben</h1>
        </div>
      </li>
      <li>
        <img src="assets/images/1.jpeg">
        <!-- random image -->
        <div class="caption  right-align">
          <h1 class="yellow-text">A Programer</h1>
        </div>
      </li>
      <li>
        <img src="assets/images/3.jpeg">
        <!-- random image -->
        <div class="caption left-align">
          <h1>Coding is my favorite</h1>
        </div>
      </li>
    </ul>
  </div>
</div>
