<app-parallax [title]="'About Me'" [titlecolor]="'white'" [imgurl]="'assets/images/aboutme.jpeg'" id ="aboutme"></app-parallax>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col left" [class.s6]="ScreenWidth>1200" [class.s12]="ScreenWidth<1200">
        <blockquote>
          <h3 class="left-align">My Story</h3>
        </blockquote>
        <blockquote>
          <h5 class="flow-text">
            Hello, I am a Full Stack & Hybrid App Developer from Tainan, Taiwan, and also interested in Big
            Data , Machine Learning and Deep Learning.
          </h5>
        </blockquote>
      </div>
      <div class="col center" [class.s6]="ScreenWidth>1200" [class.s12]="ScreenWidth<1200">
        <img width="50%" src="assets/images/profile.jpg">
      </div>
    </div>
  </div>
</div>
