<div id="index-banner" class="parallax-container" style="height:30px">

  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header">Experience</h1>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/experience.jpeg"></div>
</div>
<div class="container">
  <div class="timeline">
    <div class="timeline-event">
      <div class="card timeline-content hoverable tooltipped" data-position="top" data-delay="50" data-tooltip="Click me to see detail.">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://www.infofab.com/images/logo.svg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">華致資訊 (infoFab)<i class="material-icons right">more_vert</i></span>
          <!-- <p>Content <a href="#">This is a link</a></p> -->
          <blockquote>
            <p>Project Engineer</p>
          </blockquote>
          <small>2015 - Present</small>
        </div>
        <div class="card-reveal">
          <blockquote>
            <span class="card-title grey-text text-darken-4">Job Detail<i class="material-icons right">close</i></span>
          </blockquote>
          <section>
            <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>專案開發</div>
                <div class="collapsible-body">
                  etis app (Xamarin＋.Net Web API)
                </div>
                <div class="collapsible-body">
                  機台概況查詢及資料視覺化圖表 (.Net MVC專案)
                </div>
                <div class="collapsible-body">
                  採購及報價單報表輸出 (RDLC+.net WebForm專案)
                </div>
                <div class="collapsible-body">
                  AD Server使用者驗證登入機制 (.Net MVC專案)
                </div>
                <div class="collapsible-body">
                  華泰主檔管理系統 (.Net MVC專案)
                </div>
                <div class="collapsible-body">
                  .Net MVC專案前端及後端錯誤訊息偵測收集模型
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>產品開發</div>
                <div class="collapsible-body">
                  資料視覺化共用元件
                </div>
                <div class="collapsible-body">
                  ContentWatcher
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>個人專案</div>
                <div class="collapsible-body">
                  <a href="https://eightdweb.firebaseapp.com/" target="_blank"><span>【 八德文教基金會】官方網站 (Angular4 + FireBase)</span></a>
                </div>
              </li>
            </ul>
          </section>
        </div>
      </div>
      <div class="timeline-badge blue white-text"><i class="material-icons">work</i></div>
    </div>
    <div class="timeline-event">
      <div class="card timeline-content hoverable tooltipped" data-position="top" data-delay="50" data-tooltip="Click me to see detail.">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/images/nkfust1.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">高雄第一科技大學 (NKFUST)<i class="material-icons right">more_vert</i></span>
          <blockquote>
            <p>資訊管理系 碩士</p>
          </blockquote>
          <small>2013 - 2015</small>
        </div>
        <div class="card-reveal">
          <blockquote>
            <span class="card-title grey-text text-darken-4">Job Detail<i class="material-icons right">close</i></span>
          </blockquote>
          <section>
            <p>實作實驗室國科計畫系統模型，並撰寫相關技術文件和論文</p>

            <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>已發表論文</div>
                <div class="collapsible-body">
                  社群媒體智慧整合之研究
                  <blockquote>宋作楠基金會104年度碩士論文獎佳作</blockquote>

                </div>
                <div class="collapsible-body">
                  社群媒體智慧整合之研究
                  <blockquote>發表於2015年第一屆台灣社會網絡學會，並獲得碩士論文獎</blockquote>

                </div>

                <div class="collapsible-body">
                  異質性社群媒體監視器之研究
                  <blockquote>發表於2015年第二十六屆國際資訊管理學術研討會</blockquote>

                </div>
                <div class="collapsible-body">
                  異質性社群媒體事件主題整合平台之研究：以主題圖形模式為例
                  <blockquote>發表於2015年第十一屆知識社群國際研討會</blockquote>

                </div>
                <div class="collapsible-body">
                  異質性社群媒體事件主題整合平台之研究：以多維度表格模式為例
                  <blockquote>發表於2015年生活科技研討會</blockquote>

                </div>
                <div class="collapsible-body">
                  提供人脈管理之異質性社群整合平台之研究
                  <blockquote>發表於2014年第二十五屆國際資訊管理學術研討會</blockquote>

                </div>
              </li>
            </ul>
          </section>
        </div>
      </div>
      <div class="timeline-badge red white-text"><i class="material-icons">language</i></div>
    </div>
    <div class="timeline-event">
      <div class="card timeline-content hoverable tooltipped" data-position="top" data-delay="50" data-tooltip="Click me to see detail.">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/images/nkfust2.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">高雄第一科技大學 (NKFUST)<i class="material-icons right">more_vert</i></span>
          <blockquote>
            <p>資訊管理系 學士</p>
          </blockquote>
          <small>2010 - 2013</small>

        </div>
        <div class="card-reveal">
          <blockquote>
            <span class="card-title grey-text text-darken-4">Job Detail<i class="material-icons right">close</i></span>
          </blockquote>
          <section>
            <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>工讀經驗</div>
                <div class="collapsible-body">
                  設計學校各處室的網頁，以及日後的網頁更新與維護工作
                </div>
              </li>
            </ul>
          </section>
        </div>
      </div>
      <div class="timeline-badge green white-text"><i class="material-icons">person</i></div>
    </div>
  </div>
</div>
