<section class="no-pad"  id="skills">

</section>
<app-parallax [title]="'Skills'" [titlecolor]="'yellow'" [imgurl]="'assets/images/skills.jpeg'"></app-parallax>
<div class="container">
  <div class="section" >
    <div class="row">
      <div class="col left" [class.s6]="ScreenWidth>1200" [class.s12]="ScreenWidth<1200">
        <blockquote>
          <h3 class="left-align">Stay Hungry, Stay Foolish</h3>
        </blockquote>
        <blockquote>
          <h5 class="flow-text">
            Keep moving forward With foolish and courage to learn any interesting things
          </h5>
        </blockquote>
      </div>
      <div class="col center" [class.s6]="ScreenWidth>1200" [class.s12]="ScreenWidth<1200">
        <div *ngFor="let item of chartdata |async">
          <div class="skillbar clearfix ">
            <div class="skillbar-title" [style.background]="item?.namecolor">
              <span>{{item?.name}}</span>
            </div>
            <div class="skillbar-bar" [style.background]="item?.scorecolor" [style.width]="item?.score+'%'"></div>
            <div class="skill-bar-percent">{{item?.score+"%"}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
