<!-- <div class="demo"> -->

<div class="row">

  <div class="col s12">
    <div class="demo-2" data-percent="70">
    </div>
    <span class="badge" style="float: left;">Angular</span>
  </div>

  <div class="col s12">
    <div class="demo-3" data-percent="80">
    </div>
    <span class="badge" style="float: left;">.Net MVC</span>
  </div>

  <div class="col s12">
    <div class="demo-4" data-percent="75">
    </div>
    <span class="badge" style="float: left;">.Net Web API</span>
  </div>

  <div class="col s12">
    <div class="demo-5" data-percent="75">
    </div>
    <span class="badge" style="float: left;">jQuery</span>
  </div>

  <div class="col s12">
    <div class="demo-6" data-percent="65">
    </div>
    <span class="badge" style="float: left;">.Net Core</span>
  </div>

  <!-- </div> -->
