<header [class.MobileUI]="ScreenWidth<992" [class.DesktopUI]="ScreenWidth>992">
  <nav class="top-nav light-blue" role="navigation">
    <div class="container">
      <div class="nav-wrapper">
        <a id="logo-container" class="brand-logo">
          AdminPlatForm
          </a>
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons" style="color: white;">menu</i></a>
      </div>
    </div>
  </nav>
</header>
<ul id="nav-mobile" class="side-nav fixed" style="overflow: auto; transform: translateX(0%);">
  <li>
    <div class="logo">
      <div class="background">
        <img class="responsive-img" src="../assets/images/admin.png"
          style="padding-left: 20px">
      </div>
    </div>
  </li>
  <li><a [routerLink]="['/admin/dashboard']" [routerLinkActive]="'ActiveRoute'"><i class="material-icons" style="margin: 0 5px 0 0;">insert_chart</i>儀表版</a></li>
  <li><a [routerLink]="['/admin/skillmanage']" [routerLinkActive]="'ActiveRoute'"><i class="material-icons" style="margin: 0 5px 0 0;">settings</i>SkillManage</a></li>
  <li><a [routerLink]="['/admin/experiencemanage']" [routerLinkActive]="'ActiveRoute'"><i class="material-icons" style="margin: 0 5px 0 0;">settings_applications</i>ExperienceManage</a></li>
  <li style="padding-left: 32px;">

    <button type="button" class="waves-effect waves-light btn" (click)="onClick()"><i class="material-icons left">exit_to_app</i>登出</button></li>
</ul>
<main [class.MobileUI]="ScreenWidth<992" [class.DesktopUI]="ScreenWidth>992">
  <div class="container">
    <router-outlet> </router-outlet>
  </div>
</main>
